##########
# PYTHON #
##########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# iPython
.ipynb_checkpoints/

#####
# C #
#####

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

##########
# MATLAB #
##########

*.mexmaci64

###########
# MAC OSX #
###########

# Mac hidden files
.DS_Store

# Xcode
xcuserdata/

#########
# LATEX #
#########

*.synctex.gz
*.aux
*.bbl
*.blg

#####
# R #
#####

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Checks
*.Rcheck

# Symbols in compiled code
symbols.rds

# RStudio files
.Rproj.user/
.Rproj.user
